apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: default
  labels:
    app: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: web-app
        image: ghcr.io/gh-aakash/billionbrains/web-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: NEXT_PUBLIC_API_URL
          value: "http://20.22.9.171"
---
apiVersion: v1
kind: Service
metadata:
  name: web-app
  namespace: default
spec:
  ports:
  - port: 3000
    targetPort: 3000
    name: http
  selector:
    app: web-app
